.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.row--no-wrap {
	flex-wrap: nowrap;
	justify-content: space-between;
}

.row--vertical-center {
	flex-direction: column;
	justify-content: center;
}

.column {
	flex: 1;
	padding-right: rem-calc(30);
}