.row {
	display: flex;	
	flex-direction: column;
	margin-bottom: rem-calc(20);

	@include breakpoint(desktop-up) {
		flex-direction: row;
		margin-bottom: 0;
		justify-content: space-between;
	}

	// All elements directly below .row
	> * {
		margin-right: rem-calc(20);
		&:last-child {
			margin-right: 0;
		}
	}
}

.row--stacked {
	flex-direction: column;
}

.row--unstacked {
	flex-direction: row;
	margin-bottom: 0;
}

.row--space-evenly {
	justify-content: space-evenly;
}

.u-align-items-center {
	align-items: center;
}

.u-justify-center {
	justify-content: center;
}