// Primary
$color-primary-blue: #edf5ff;
$color-primary-grey: #414141;
$color-primary-lightgrey: #bfbfbf;
$color-primary-green: #2ec76d;
$color-mint-green: #d3ecd2;
$color-primary-yellow: #fcf2dc;
$color-primary-pink: #fceeec;

// Secondary
$color-secondary-green: #f8fff8;
$color-secondary-lightgrey: #e1e1e1;

// Other
$color-lightgrey-100: #6f6f6f;
$color-lightgrey-200: #efefef;

// Hover
$color-primary-yellow-hover: #fcf2dcf0;
$color-primary-yellow-dark-hover: #a29477f0;

// Misc
$color-red: #bd4c4c;
$color-black: #000;
$color-white: #fff;