* {
	box-sizing: border-box;
}

body {
	color: $color-primary-grey;
	font-family: $font-secondary;
}

.container {
	padding: rem-calc(30) $site-padding;

	&__inner {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}