* {
	box-sizing: border-box;
}

body {
	color: $color-primary-grey;
	font-family: $font-secondary;
}

p {
	color: $color-lightgrey-100;
	margin-bottom: $site-vertical-margin;

	&:last-child {
		margin-bottom: 0;
	}
}

.section {
	padding: rem-calc(30) $site-padding-mobile;
	@include breakpoint(tablet-up) {
		padding: rem-calc(30) $site-padding;
	}

	&__inner {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}